a:link{font-family:"Times new roman";font-size:12pt;color:#4B3FF2}
a:visited{font-family:"Times new roman";font-size:12pt;color:#BE2274 }


body{margin-top:0;margin-bottom:0;margin-left:0;margin-right:0 ;background-color:white}
h2{color:#525906}
h3{color:#852510}
h4{color:#052F74}
b{color:#525906}
p{font-family: "vardana";font-size: 13pt;color: #3A3C3E;text-align: justify;}
li{font-family:"Georgia";font-size:13pt;color:#3A3C3E;text-align: justify;}